# Build Files
**/__pycache__
**/*.egg-info
build/

# Macos Stuff 
**/.DS_Store


# All Data exports 
**/*.pkl

# IDE stuff 
.idea/

# pyvenv 
.venv
venv

# Script Outputs
blue_Ai/scripts/img 
blue_Ai/scripts/data
